

<nav class=" bg-[#2C1D1C] opacity-45  flex justify-evenly text-2xl p-5 font-bold" >
    <a class="hover:text-[#FDB51D]" href="/">Home</a>
    <a class="hover:text-[#FDB51D]" href="/library">Library</a>
    <a class="hover:text-[#FDB51D]" href="/about">About</a>
</nav>


