  <%- include('./partials/header') %>
  <%- include('./partials/nav') %>

<body class="bg-black text-white">
  


  <div class="w-full  h-3/4 bg-center bg-cover object-center  absolute top-[72px] bg-[url('https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2024/07/8/30135_Quote_A1_OnixStorm_07_08_24.jpg')]">
  </div>

  <h1 class=" text-[#FFEAAE] text-2xl absolute top-[670px] left-[20px]">Welcome To Book Store <br> Start Heare 👉</h1>

  <a class="border-2 border-[#FFEAAE] hover:bg-[#ffbe03] hover:text-black font-bold duration-300  px-5 absolute top-[710px] left-[180px] rounded-lg" href="/create">Click Heare </a>
  
</body>
</html>


<%- include('./partials/footer') %>
