  <%- include('./partials/header') %>
  <%- include('./partials/nav') %>

<body class="bg-black text-white">
  


  <div class="w-full  h-3/4 bg-center bg-cover  absolute top-[72px] bg-[url('https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2024/07/8/30135_Quote_A1_OnixStorm_07_08_24.jpg')]">
  </div>

  <!-- <h1 class="bg-black">hello dosto</h1>

  <a href="/create">Click Me</a> -->
  
</body>
</html>